@import "../../scss/framework/config";
@import "../../scss/framework/base/include";
@import "../../scss/framework/components/general/typography/link";
@import "./login-2";

.m-login__account{
    div{
        $m:5px;
        span{
            margin-right: $m;
        }
        i{
            margin: 0 $m;
            font-size: 16px;
        }
    }
}